<div class="help-me-choose">
    <div class="img-holder">
        <img data-src="https://res.cloudinary.com/logic-of-english/image/upload/f_auto,q_auto,w_134/Icon_HelpMeChoose" />
    </div>
    <div class="text">
        <div class="title">Which program best suits your student's needs?</div>
        <div class="sub-title">See our recommendations.</div>
        <div class="flexy"></div>
        <a href="https://assets.logicofenglish.com/downloads/loe-help-me-choose.pdf" class="download-block kelly-green-text">
            <span>Download the flowchart.</span>
            {% include svg/download-icon.svg %}
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7Hp1QRfKfKxLhPy-jVVs-0h6rxugtoUz9shbg3B-Qkbm4pA/viewform" class="download-block kelly-green-text">
            <span>Start the questionnaire.</span>
            {% include svg/Icon_form.svg %}
        </a>
    </div>
</div>
