<div class="po-spot">
    <img data-src="https://res.cloudinary.com/logic-of-english/image/upload/PO_icon.svg" />
    <b>Are you buying for a school?</b>
    <div>Build your own quote.</div>
    <a class="link-btn" href="https://schools.logicofenglish.com">Start</a>
</div>