{% assign navList = include.navList %}
{% assign isRoot = include.isRoot %}

{% if isRoot %}
    <div class="menu-item">
        {% assign firstItem = navList.first %}
        <input type="checkbox" class="expander" checked />
        <a href="{{firstItem[1].url}}">{{firstItem[1].title}}</a>    
    {% if firstItem[1].children %}
        <div class="expansion-indicator">
            {% include nav/carrat.liquid %}
        </div>
        <div class="kids">
        {% assign siteLinks = firstItem[1].children %}
        {% include nav/entire-nav.liquid navList=siteLinks isRoot=false %}
        </div>
    {% endif %}
    </div>    

{% else %}
    {% for link in navList %}
    <div class="menu-item">
        {% if link[1].children %}
        <input type="checkbox" class="expander" {% if link[1].url == page.url %}checked{% endif %}/>
        {% endif %}

        <a href="{{link[1].url}}">{{link[1].title}}</a>
        
        {% if link[1].children %}
        <div class="expansion-indicator">
            {% include nav/carrat.liquid %}
        </div>
        
        <div class="kids">
            {% assign newList = link[1].children %}
            {% include nav/entire-nav.liquid navList=newList %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}
