{% assign navtag = include.navtag %}
{% assign navList = include.navList %}

{% for link in navList %}    
    {% if link[0] == navtag %}
        {% if link[1].children %}
            <div class="nav-bar">
            {% for subLink in link[1].children %}
                <a {% if subLink[1].url == page.url %}class="active"{% endif%} href="{{subLink[1].url}}">{{subLink[1].title}}</a>
            {% endfor %}
            </div>
        {% endif %}
    {% elsif link[1].children %}
        {% assign newList = link[1].children %}
        {% include nav/main-nav.liquid navtag=navtag navList=newList %}
    {% endif %}
{% endfor %}
