{% assign navtag = include.navtag %}
{% assign navList = include.navList %}

{% for link in navList %}    
    {% if link[0] == navtag %}
        <a href="{{link[1].url}}">{{link[1].title}}</a>
    {% elsif link[1].children %}
        {% assign newList = link[1].children %}
        {% include nav/parent-nav-link.liquid navtag=navtag navList=newList %}
    {% endif %}
{% endfor %}