{% comment %}
    site.data.sitemeta.links.community.children.blog
{% endcomment %}
{% assign navtag = include.navtag %}
{% assign navList = include.navList %}

{% for link in navList %}    
    {% if link[0] == navtag %}
        {% if link[1].children %}
            {% for subLink in link[1].children %}
                <a href="{{subLink[1].url}}">{{subLink[1].title}}</a>
            {% endfor %}
        {% endif %}
    {% elsif link[1].children %}
        {% assign newList = link[1].children %}
        {% include nav/sub-nav.liquid navtag=navtag navList=newList %}
    {% endif %}
{% endfor %}
