a.download-block {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin:0;
    box-sizing: border-box;
    padding:1em 0;
    text-decoration: none;
    font-style:italic;
    position:relative;
    

    span {
        padding:0 1em;
    }
    
    svg {
        height:3em;
        width:3em;
    }

    &.white-text {

        svg {
            path {
                fill:#fff;
            }
        }
    }

    &.kelly-green-text {
        svg path {
            fill:#15A748;
        }
    }
}