.site-footer {
    width:100%;
    position:relative;
    font-family:$myriad-font;
    margin:#{$topSubNavHeight + $topNavHeight} 0 0 0;
    padding:1.5em 1em;
    box-sizing: border-box;
    clear:both;

    a.img-holder {
        width:300px;
        height:150px;
        position: relative;
        margin:0 auto;
        display: block;
        overflow:hidden;        

        img {
            position: absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            width:100%;
            max-width:300px;
        }
    }

    .tag-line {
        margin:0 auto;
        position:relative;
        text-align: center;
        color:$darkblue;
    }


    .social-links {
        position: relative;
        margin:1em 0;
        width:100%;
        height:40px;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            display:inline-block;
            position: relative;
            height:100%;
            padding:0;
            margin:0 5px;
            box-sizing: border-box;    
            
            svg {
                height:100%;
                width:100%;

                path {
                    fill:$darkblue;
                }

                circle {
                    fill:#fff;
                }
            }

            &.twitter {
                height:40px;
                width: 40px;
            }

            &.fb {
                height:40px;
                width: 40px;
            }

            &.instagram {
                height:40px;
                width: 40px;
            }

            &.pinterest {
                height:40px;
                width:40px;
            }

            &.youtube {
                height:40px;
                width: 56.76px;
            }

        }
    }

    .footer-nav-links, .footer-sub-nav-links {
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        padding:0 .5em;
        width:100%;
        box-sizing: border-box;
        margin:.5em 0;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color:$darkblue;
            font-weight:200;
        }
    }

    .footer-nav-links {
        
        a {
            padding:.5em 1em;
            border-left: 1px solid $darkblue;

            &:nth-child(1) {
                border-left:none;
            }
        }
    }

    .footer-sub-nav-links {
        width:100%;
        flex-wrap:wrap;
        margin:0 auto;
        a {
            color:#666;
            font-size:12px;  
            padding: 0.5em;
            text-align: center;
        }
    }

    .copyright {
        text-align:center;
        font-weight:200;
        color:$darkblue;
    }
}

@media screen and (max-width:759px) {
    .site-footer {
        margin:#{$topNavHeight} 0 0 0;
    }
}

@media screen and (max-width:530px) {
    .site-footer {
        .footer-nav-links {
            font-size:12px;
    
            a {
                padding:.5em .25em;
            }
        }
    }
    
}