.help-me-choose {
    width:calc(100% - 16px);
    max-width:400px;
    margin:1em auto;
    background-color: #E9EFF3;
    display:flex;
    flex-direction:row;
    position: relative;
    padding:8px;
    box-sizing: border-box;
    font-family: $myriad-font;
    font-size:16px;

    div.img-holder {
        width:calc(100% / 3);
        img {
            box-shadow:2px 2px 4px rgba(0,0,0, 0.4);
            border-radius:5px;
        }
    }

    .text {
        flex:1;
        display:flex;
        flex-direction: column;
        color:$darkblue;
        text-align: center;


        .flexy {
            flex:1;
        }

        .title {
            font-size:115%;
            font-weight:600;
        }
        .sub-title {
            font-size:120%;
            font-weight:200;
        }

        .download-block {
            padding:0;
            height:2em;
            overflow-y:hidden;
        }
    }
    
}

@media screen and (max-width:420px) {
    .help-me-choose {
        @include responsiveText(12,16,320,420);
    }
}
