// @import "https://use.typekit.net/unx5agp.css";

$myriad-font: myriad-pro, sans-serif;
$darkblue: #174489;
$lightblue: #2CA8D3;
$kellygreen: #15A748;
$orange: #EB8B2D;
$lime: #9EC73D;
$yellow: #FFDA1A;
$yellow-dark: #EDBC38;
$violet: #B21D7B;
$red: #D8232A;
$teal: #0B959F;
$topNavHeight: 44px;
$topSubNavHeight: 34px;
$skinnyTopNavHeight: 40px;
$footerHeight: 302px;
$mobileFooterHeight: 278px;

@mixin responsiveText($minSize:16, $maxSize:28, $minScreen:320, $maxScreen:800) {
    font-size:calc(#{$minSize}px + (#{$maxSize} - #{$minSize})*(100vw - #{$minScreen}px) / (#{$maxScreen} - #{$minScreen}))
}
