#mc_embed_signup.mail-chimp-form {

    font-family:$myriad-font;
    padding: 1.5em 0 0 0;
    
    form {
        display:block;
        padding:0;

        #mc_embed_signup_scroll {
            position:relative;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center; 

            label {
                color:$darkblue;
            }

            input.email {
                display:block;
                width:20em;
                margin:.25em 0 .5em 0;
                background-color:#ccc;
                border-radius:0;
                border-color:#ccc;

                &:focus {
                    background-color:#fff;
                    outline:none;
                }
            }

            input[type="submit"].button {
                background-color:$kellygreen;
                color:#fff;
                text-transform: uppercase;
                padding: .25em .5em;
                height:auto;
                border-radius:4px;

                &:focus {
                    outline:none;
                    background-color: darken($kellygreen, 10%);
                }
            }

        }
        
    }

}