@import 'link-button';
.po-spot {
    background-color: $yellow-dark;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    font-size:3.5vw;
    
    img {
        width:30%;
        max-width:220px;
        position: relative;
        margin:0 0 2em 0;
        max-height:234px;
    }

    b {
        font-size:140%;
        font-weight:600;
    }

    > div {
        font-weight:200;
        padding:.25em 0 .5em 0;
    }

    .link-btn {
        background-color:#fff;
        color:$yellow-dark;
    }
}

@media screen and (min-width:761px) {
    .po-spot {
        font-size:26.635px;
    }
}