.responsive-iframe {
    position:relative;
    overflow:hidden;
    margin:0;
    padding-top:56.25%;
    width:100%;

    /* width="560" height="315" */

    iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border:0;
    }
}