.set-contents {
    position:relative;
    padding: 1em;
    z-index: 0;

    .img-holder {
        z-index:-1;
    }

    h3 {
        margin:-5px 0 0 0;
        padding:.5em;
        background-color:$lightblue;
        color:#fff;
        position: relative;
    }

    .student-items {
        position:relative;
        z-index:0;

        h3 {
            z-index:0;
        }
       
        img {
            position:absolute;
            left:55%;
            width:45%;
            max-width:200px;
            top:0;
            transform:translateY(-75%);
            display:block;
            
        }
    }

    div[product-grid] {
        min-height:140px;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        margin:1em auto;
        max-width:600px;

        &.extra-padding {
            padding-bottom:200px;
        }

        a.product-tile, a.product-image-button {
            width:50%;
            display:flex;
            flex-direction:column;
            padding:.5em;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            &.has-shadow {
                .img-holder img {
                    box-shadow:2px 2px 6px rgba(0,0,0,.4);
                }
            }

            .title, .img-holder, .price {
                min-width:75px;
                max-width:150px;
                width:100%;
            }

            .img-holder {
                img {
                    width:90%;                    
                    display:block;
                    margin:0 auto;
                }
            }            

            .title {
                font-weight:200;
                text-decoration: none;
                color:#000;
                margin:.5em 0 .25em 0;
            }
            .price {
                display:block;
                font-weight:600;
                text-decoration: none;
                color:#000;
                font-size:140%;
            }
        }
    }
}