@import 'loe-defaults';
@import 'site-defaults';
@import 'nav-top';
@import 'mobile-menu';
@import 'sub-nav';

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
html {
    overflow:hidden;
}
body {
    position:relative;
    box-sizing: border-box;
    font-family: $myriad-font;
    overflow-y:auto;
    overflow-x:hidden;
}


.mobile-only {
    display:none;
}
.desk-only {
    display:block;
}

.content {
    box-sizing: border-box;
    
}

.flex {
    flex:1 0 auto;
}

.white-back {
    background-color:#fff;
}
.orange-back {
    background-color:$orange;
}

.yellow-back {
    background-color:$yellow-dark;
}

.dark-blue-back {
    background-color:$darkblue;
}

.light-blue-back {
    background-color:$lightblue;
}

.kelly-green-back {
    background-color:$kellygreen;
}

.violet-back {
    background-color:$violet;
}

.db-text {
    color:$darkblue;
}

.kelly-green-text {
    color:$kellygreen;
}

.yd-text {
    color:$yellow-dark;
}

.white-text {
    color:#fff;
}

.unstyled {
    opacity:0;
    transition:opacity .5s ease-in-out;
}

@import 'footer';
@import 'mailchimp';

@media screen and (max-width:800px) {
    .mobile-only {
        display:block;
    }
    .desk-only {
        display:none;
    }
}
