[
{%- for lnk in include.linkList %}
    {"title":"{{lnk[1].title}}",
    "url":"{{lnk[1].url}}"{%- if lnk[1].children -%},
    {% assign lnk_List = lnk[1].children %}
    "children": {% include siteMapping/link-json.liquid linkList=lnk_List %}
    {%- endif -%}
    }
    {%- if forloop.last == false %},{% endif -%}
{% endfor -%}
]