<meta property="og:url" content="{{include.url}}" />
<meta property="og:type" content="{{include.contentType}}" />
<meta property="og:title" content="{{include.title}}" />
<meta property="og:description" content="{{include.description}}" />
<meta property="og:image" content="{% if include.image %}{{include.image}}{% else %}https://res.cloudinary.com/logic-of-english/image/upload/q_auto,w_360,h_360,c_pad,b_white/LOE-logo.jpg{% endif %}" />