
<script type="application/ld+json">
{ "@context": "http://schema.org", 
 "@type": "Article",
 "headline": "{{page.title}}",
 "image": "{{page.image}}",
 "author": "{{page.author}}",
 "genre": "Language Arts", 
 "keywords": "{{page.keywords | join: ', '}}", 
 "publisher": "Logic of English, Inc.",
 "url": "{{site.url}}{{page.url}}",
 "datePublished": "{{page.published}}",
 "dateCreated": "{{page.date}}",
 "dateModified": "{{page.modified}}",
 "description": "{{page.description}}"
 }
</script>