
<script type="application/ld+json">
{ "@context": "http://schema.org", 
 "@type": "WebPage",
 "image": "{{page.image}}",
 "keywords": "{{page.keywords | join: ', '}}", 
 "publisher": "Logic of English, Inc.",
 "url": "{{site.url}}{{page.url}}",
 "description": "{{page.description}}"
 }
</script>