---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="https://assets.logicofenglish.com/images/favicon.ico"/>
    <title>{{page.title}}</title>
    {%- if page.includeSEO %}
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="{{page.keywords | join: ', ' }}">
    {% endif -%}
    <style media="screen">       
        {% capture scss %} 
        {% include css/index.scss %}
        {% endcapture %}
        {{ scss | scssify }}    
    </style>

    {%- if page.includeSEO %}
    {% capture fbURL %}{{site.url}}{{page.url}}{% endcapture %}
    {% include seo/facebook-og-meta.liquid
        contentType="Web Page"
        url=fbURL
        title=page.title 
        description=page.description 
        image=page.image    
    %}
    {% include seo/json-ld-webpage.liquid %}
    {% endif -%}

    <link rel="stylesheet" href="/assets/styles/common.css" media="none" onload="this.media='screen'"/>
    <noscript><link rel="stylesheet" href="/assets/styles/common.css"/></noscript>
    {%- if page.css -%}
    
    <link rel="stylesheet" href="/assets/styles/{{page.css}}" media="none" onload="this.media='screen'"/>
    <noscript><link rel="stylesheet" href="/assets/styles/{{page.css}}"/></noscript>
    {%- endif -%}
</head>
<body>
    {% capture parentNavItem %}
        {% if layout.parentNavItem %}
            {{layout.parentNavItem}}
        {% elsif page.parentNavItem %}
            {{page.parentNavItem}}
        {% else %}
            doofer
        {% endif %}
    {% endcapture %}
    {% include nav/top.liquid parentNavItem=parentNavItem %}
    <div class="content">{{content}}</div>   
    {% include footer/footer.liquid %}
    <div style="display:none" loe-ms-jekyll-theme="1.6.10"></div>
</body>
<script src="https://assets.logicofenglish.com/js/loe-common-js.js"></script>
<script>
{% if page.loeJsWidgets %}
    {% assign widgets = page.loeJsWidgets %}
{% endif %}

    (function() {
    loeAsyncLoader({assetHost:'https://assets.logicofenglish.com/js/',
    jsObjList:[
{%- for widget in widgets %}
        '{{widget}}',
{% endfor -%}
        'loe-cross-site-search',
        'loe-lazy-load',
        'loe-nav-map',
        'loe-contact-form'
    ],
    cb:function() {
        LoeSearch.init({searchContainer:'div.loe-search-holder',resultTop:52});
        LoeNav.init({mapContainer:'div.menu-holder'});
        LoeNav.makeActive('{{site.data.sitemeta.url}}{% if page.url == "/" %}{% else %}{{page.url}}{% endif %}');
        LazyLoad.loadResources({selector:'[data-src]',dataAttribute:'data-src',targetAttribute:'src'});   

{%- if widgets contains 'loe-buy-now' %}
        LoeBuyNowBtn.init({selector:'[loe-buy-now-btn]',cartButtonSelector:'.loe-top-nav button.shopping-cart',cookieDomain:'.logicofenglish.com'}); 
{% endif -%}
{%- if widgets contains 'loe-scroller' %}       
        LoeScroller.init({selector:'[loe-scroller]'});
{% endif -%}
{%- if widgets contains 'loe-expandi-box' %}
        ExpandiBox.init({selector:'[expandi]'}); 
{% endif -%}

        LoeContactForm.init({selector:'[loe-contact-btn]',settings:{
            contactForm: {
                tags:["site-{{site.data.sitemeta.title}}"]
            }
        }});

        {%- if page.js -%}
        loeAsyncLoader({assetHost:"/assets/scripts/",jsObjList:['{{page.js | replace: ".js","" }}'],cb:function(){}});
        {%- endif -%}

    }});
    
})();
    
</script>

</html>